:root {
    --primary-bg-color: #ec2d2d;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
 }

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.sidebar {
    background-color: var(--primary-bg-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 20px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sidebar > ul {
    list-style-type: none;
}
.sidebar > ul li:not(:last-child) {
    margin-bottom: 5px;
}
.sidebar > ul a:link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

/* HEADER START */
.header {
    grid-column: 2 / 3;
    padding: 10px 20px;
}
.header > .search-container,
.header > .user-bar,
.user-bar > .user-welcome,
.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > .user-bar {

}
.user-bar > .user-welcome {
    
}
.user-menu > ul {
    list-style-type: none;
    display: flex;
}
/* HEADER END */

/* CONTENT START */
.content {
    background-color: rgb(231, 231, 231);
    padding: 20px 15px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 30px;
}

.main-content {
    margin-left: 20px;
}
.main-content > h2 {
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.card-container > .card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border-left: 12px solid var(--primary-bg-color);
}
/* CONTENT END */