:root {
    --primary-bg-color: #ec2d2d;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
 }

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

/* SIDEBAR START */
.sidebar {
    background-color: var(--primary-bg-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 30px 40px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: sticky;
    top: 0;
    height: 100vh;
}
.sidebar > ul {
    list-style-type: none;
}
.sidebar > ul li:not(:last-child) {
    margin-bottom: 15px;
}
.sidebar > ul li {
    vertical-align: middle;
}
.sidebar > ul a:link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    vertical-align: middle;
}
.sidebar a:link:hover {
    color: gold;
}
.sidebar-icon:has(+ a:hover) {
    fill: gold
}
.sidebar .sidebar-icon {
    width: 25px;
    margin: 0 35px 0 12px;
    vertical-align: middle;
    fill: white;
}
.sidebar-logo {
    align-items: center;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar-logo h2 {
    font-size: 2rem;
}
.dashboard-logo {
    width: 50px;
    fill: white;
    margin-right: 10px;
}
/* SIDEBAR END */

/* HEADER START */
.header {
    grid-column: 2 / 3;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 1px 3px 8px rgb(220, 220, 220);
    z-index: 1;
}
.header > .search-container,
.header > .user-bar,
.user-bar > .user-welcome,
.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header > .user-bar {
    display: flex;
}

.search-form {
    display: flex;
    gap: 20px;
    width: 60%;
    justify-content: stretch;
}
.search-form input[type="search"] {
    background-color: rgb(229, 234, 241);
    border: none;
    padding: 5px 15px;
    font-size: 1.2rem;
    border-radius: 1rem;
    width: 100%;
}
.search-form > .search-button {
    width: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.search-form > .search-button:hover {
    fill: var(--primary-bg-color);
}

.user-profile > .notification-button {
    width: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: black;
}
.user-profile > .notification-button:hover {
    fill: var(--primary-bg-color);
}
.user-profile > .user-profile-link {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.3rem;
}
.user-profile > .user-profile-link:hover {
    color: var(--primary-bg-color);
}
.user-profile > .profile-pic {
    width: 60px;
}

.welcome-message {
    font-weight: 800;
}
.welcome-message > .greeting {
    font-size: 0.9rem;
}
.welcome-message > .user-nametag {
    font-size: 1.5rem;
}
.user-welcome > .profile-pic {
    width: 100px;
}

.user-menu > ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.user-menu a:link {
    text-decoration: none;
    color: white;
    background-color: var(--primary-bg-color);
    padding: 15px 35px;
    border-radius: 35px;
    font-weight: bold;
    font-size: 1.1rem;
}
.user-menu a:hover {
    background-color: rgb(255, 0, 0);
}
/* HEADER END */

/* CONTENT START */
.content {
    background-color: rgb(229, 234, 241);
    padding: 20px 15px;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    gap: 30px;
}

.main-content {
    margin-left: 20px;
}
.main-content > h2 {
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.card-container > .card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border-left: 12px solid var(--primary-bg-color);
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 50px;
}
.card-actions .card-icon {
    fill: black;
    width: 30px;
}
.card-actions > a:hover .card-icon {
    fill: var(--primary-bg-color);
}
.card-actions img {
    width: 30px;
}

.side-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 10px;
    min-width: 300px;
}
.side-content .announcements,
.side-content .trending {
    background-color: white;
    padding: 30px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 0.9rem;
}
.side-content h2 {
    margin-bottom: 20px;
}

.announcements > .announcement-item:not(:last-child) {
    border-bottom: 1px solid rgb(200, 200, 200);
}

.announcement-item:not(:last-child) > p {
    margin-bottom: 20px;
}

.trending-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.trending-item > .profile-pic {
    width: 60px;
    margin-right: 10px;
}
.trending-item .user-handle,
.trending-item .topic {
    color: black;
    text-decoration: none;
}
.trending-item .user-handle:hover,
.trending-item .topic:hover {
    color: var(--primary-bg-color);
}
.trending-item .topic {
    color: rgb(79, 79, 79);
    font-size: 1.1rem;
}
/* CONTENT END */